body {
  background: #f9f7f6
}

header {
  display: block;
  overflow: hidden;
  background-color: #F7DA03;
  background-image: url(../img/nodeschoolio-header-bg.png);
  background-size: 25%;
  background-position: 0 -100px;
}

a,
a:visited {
  color: black;
}

a:hover {
  color: #F7DA03;
}

header .logo {
  display: block;
  margin: 100px auto 20px;
  max-width: 300px;
}

header h1,
header p {
  text-align: center;
  font-family: sans-serif;
}

header .slack {
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 20px;
}

.apply-form {
  margin: 30px auto;
  padding: 0 10px;
  max-width: 1000px;
}

/* Button 1 */
.btn {
  border: 1px solid #9da8b2;
  font-family: inherit;
  font-size: 15px;
  color: #9da8b2;
  background: none;
  cursor: pointer;
  padding: 10px 34px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  height: 40px;
  width: 240px;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Button 1a */
.btn:hover,
.btn:active {
  color: #000;
  border: 1px solid #000;
  background: #F7DA03;
}

footer {
  margin: 50px auto;
  padding: 0 10px;
  max-width: 1000px;
  border-top: 1px solid #9da8b2;
  font-size: 12px;
  text-align: center;
}
