body {
  background: #f9f7f6
}

header {
  display: block;
  overflow: hidden;
  background-color: #F7DA03;
  background-image: url(../img/nodeschoolio-header-bg.png);
  background-size: 25%;
  background-position: 0 -100px;
}

.logo {
  display: block;
  margin: 100px auto 20px;
  max-width: 300px;
}

h1, p {
  text-align: center;
  font-family: sans-serif;
}

.slack {
  position: absolute;
  overflow: hidden;
  top: 20px;
  right: 20px;
}

.apply-form {
  margin: 10px auto;
  padding: 0 10px;
}
